/* =============
    Typography
============= */
body {
    font-family: 'Cormorant', serif;
    font-family: 'Prompt', sans-serif;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}