#content{ 
    //@include xl{
        //display:grid;
       // grid-template-areas: ". hero .";
       // grid-template-columns: auto 1440px auto;
    
   padding-top: 12vh;
   padding-bottom: 12vh;
  
   
    
    >div{
        display: flex;
        justify-content: center;
        align-items:center;
        height: 100%;
        padding-left:82px;
    
        
       
    
        height: 100%;
        h1{
       
            color: $green;
            font-family: Cormorant;
            font-size: rem-calc(40);
            font-weight: 600;
            line-height: 35px;
        text-shadow: 0px 4px 4px 0px #00000040;
        padding-right: 40px;


        }
        p{
           
           width: 35%;
            color: $black;
            font-family: Prompt;
            font-size: rem-calc(12);
            font-weight: 300;
            line-height: 14px;
        text-shadow: 0px 4px 4px 0px #00000040;
       
        @include md {

            font-size: rem-calc(14);
            line-height: 16px;
        }
        
        @include xl {
            font-size: rem-calc(16);
            line-height: 18px;
        }
        


        }
    }
}